@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}


.center_form {
  position: relative;
  top:250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

.configName, .configValue {
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(180, 180, 180);
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 25px 40px;
  margin-bottom: 10px;
  font-size: 20px;
}

.configName:focus,  .configValue:focus, .configNameDelete:focus{
  outline: none !important;
  border:1px solid rgb(255, 255, 255);
}


button[type="submit"],
input[type="submit"] {
  background-color:#70FF64;
  border: none;
  font-size: 16px;
  font-weight: 100;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background-color:#51e28e;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

button[type="button"] {
  display: block;
  appearance: none;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
}

button {
  position: relative;
  top:140px;
  display: block;
  appearance: none;
  border: 1px solid #333;
  padding: 10px 10px;
  border-radius: 4px;
}

.header_link,a, a:focus, .header_link:focus {
  all:unset;
  outline: none !important;
}

.configNameDelete {
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(180, 180, 180);
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 25px 40px;
  margin-bottom: 10px;
  font-size: 20px;
  position: relative;
  top:5px;
}

.buttonDelete {
  padding: 15px 10px;
  display: block;
  background-color:#70FF64;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  position: relative;
  top:10px;
}


/*Iphone 5 / SE*/
@media (width: 320px) and (height:568px) {
  .createConfigTitle {
    position: relative;
    top: 90px !important;
  }
  .configName,.buttonDelete,.configValue {
    position: relative;
    top:-100px;
    padding: 15px 30px;
  }
  .titleDeleteConfig {
    position: relative;
    top:110px !important;
  }
  .configNameDelete {
    position: relative;
    top:-100px;
    padding: 15px 5px;
  }
}


/*Iphone 6/7/8*/
@media (width: 375px) and (height:667px) {
  .createConfigTitle {
    position: relative;
    top: 90px !important;
  }
  .configName,.buttonDelete,.configValue {
    position: relative;
    top:-100px;
    padding: 15px 30px;
  }
  .titleDeleteConfig {
    position: relative;
    top:110px !important;
  }
  .configNameDelete {
    position: relative;
    top:-100px;
    padding: 15px 15px;
  }
}

/*Samsung Galaxy A51/71*/
@media (width: 412px) and (height:914px) {
  .createConfigTitle {
    position: relative;
    top: 90px !important;
  }
  .configName,.buttonDelete,.configValue {
    position: relative;
    top:-100px;
    padding: 15px 30px;
  }
  .configNameDelete {
    position: relative;
    top:-100px;
    padding: 15px 5px;
  }
  .titleDeleteConfig {
    position: relative;
    top:110px !important;
  }
}

/*Galaxy Fold*/
@media (width: 280px) and (height:653px) {
  .createConfigTitle {
    position: relative;
    top: 90px !important;
  }
  .configName,.configValue {
    position: relative;
    top:-100px;
    padding: 15px 5px;
  }
  .configNameDelete {
    position: relative;
    top:-100px;
    padding: 15px 5px;
  }
  .titleDeleteConfig {
    position: relative;
    top:110px !important;
    font-size:26px !important;
  }
  .buttonDelete {
    position: relative;
    top:-100px;
    padding: 15px 30px;
  }
}
/*Samsung Galaxy S20*/
@media (width: 412px) and (height:915px) {
  .createConfigTitle {
    position: relative;
    top: 90px !important;
  }
  .configName,.configValue {
    position: relative;
    top:-100px;
    padding: 15px 15px;
  }
  .configNameDelete {
    position: relative;
    top:-100px;
    padding: 15px 15px;
  }
  .titleDeleteConfig {
    position: relative;
    top:110px !important;
    font-size:28px !important;
  }
  .buttonDelete {
    position: relative;
    top:-100px;
    padding: 15px 30px;
  }
}