body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NIKEA';
  src: local('NIKEA'), url(../fonts/NIKEA.otf) format('otf');
}

@font-face {
  font-family: 'Fairwall Sans';
  src: local('Fairwall Sans'), url(../fonts/FairwallSans-Regular.otf) format('otf');
}